/* 重置 vant ui 样式 */

.tabBtnWrap .van-tab {
  font-size: .4rem;
}

.GoodsColumn_wrap .van-icon__image {
  font-size: 1.47rem;
}
.GoodsColumn_wrap .van-grid-item__text {
  font-size: .32rem;
}

.GoodsList_wrap .van-icon__image {
  font-size: 1.47rem;
}
.GoodsList_wrap .van-grid-item__text {
  font-size: .32rem;
}

/* 自定义 footer条 */
/*字体大小*/
.footerDiv .van-tabbar-item__text{
  font-size: .32rem;
}
/*高度*/
.footerDiv .van-tabbar{
  height: 1.30667rem;
}
/*icon大小*/
.footerDiv .van-icon{
  height: .53333rem;
  font-size: .53333rem;
}

.sidebarClass .van-sidebar {
  width: 2.16rem;
}

.sidebarClass .van-sidebar-item__text {
  font-size: .37333rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: .66667rem;
  color: #333;

}

